* {
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	overflow-x:hidden;

}
.wrapper {
	width: 100%;
	
}
.content-wrapper{
	width: 940px;
	margin: 0 auto;
	position: relative;
	}	


/* Header 
------------------------------------------------------------------------------------------------------*/
.logo-text{
	font-size: 24px;
	margin: 35px 0 0 0;	
	width:200px;
}
.logo-text a{
	color:#FFF;
	text-decoration:none;
}
.top-menu{
	position: absolute;
	font-weight: bold;
	font-size: 12px;
	top:0;
	right:0;
}
.top-menu a{
	padding:30px 0;
	text-decoration: none;
	color:#FFFFFF;
}
.top-menu li{
	display:inline;
	text-decoration: none;
}
.top-menu li+li:BEFORE{
	content: "\b7\a0";
	color:#666d89;
	margin:0 3px;
}

.top-menu a:hover{
	color:#eb5055;
}
header{
	width:100%;
	position:fixed;
	z-index:1;
	top:0;
	height: 87px;
	background: #303441;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	border-bottom: 8px solid #373b4a;

}

#main{
	margin-top:95px;
}
/* Slider
------------------------------------------------------------------------------------------------------*/
.block-slider {
	height:593px;
	width: 100%;
	background: #eb5055;
	padding-top: 95px;
	border-bottom: 8px solid #ea676b;
}

.slide-image{
	text-align: center;
	height: 590px;
}

.slide-image img{
	position: absolute;
	width: 90%;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.arrows a{
	font-size: 28px;
	color: #000;
	opacity: 0.1;
	text-decoration: none;
}
.left-arrow{
	position: absolute;
	left:0;
	top:0;
	bottom: 0;
	margin: auto;
	height: 1em;
}

.right-arrow{
	position: absolute;
	right:0;
	top:0;
	bottom: 0;
	margin: auto;
	height: 1em;
}

.arrows a:hover{
	color: #FFF;
}

.arrows {
height: 100%;

}


/* Services
-------------------------------------------------------------------------------------------------------*/
.block-services {
	width:100%;
	background: #f2f2f2;
	padding:0 0 30px 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #666d89;
	border-bottom: 8px solid #FFF;
	
}


.services-text {
	padding-top:65px;
	margin-bottom:50px;
}

.services-text h2{
	font-size:28px;
	font-weight:bold;
}

.services-text p{
	padding:46px 0 0 0;
	font-size:16px;
	line-height:200%;
	text-align:justify;
}

/*Advants
-----------*/
.table-advantes li{
	position:relative;
	vertical-align: top;
	display: inline-block;
	margin-bottom: 20px;
	text-decoration: none;
	display:inline-block;
}

.advance-content{
	margin-left:20px;
	width:210px;
	height:120px;
	display:inline-block;
	text-align:justify;	
}
.table-advantes{
	text-align: justify;
}

.table-advantes:after{
	content: '';
	display: inline-block;
	width: 100%;
}

.advance-content h2{
	padding-bottom:15px;
	font-size:18px;
}
.special-char {
	vertical-align:top;
	text-align: center;
	display:inline-block;
	width:60px;
	height:60px;
	border: 1px solid;
	border-radius: 50%;
}

.special-char i{
	line-height: 60px;
}
/* Portfolio
--------------------------------------------------------------------------------------------------------*/
.block-portfolio{
	background: #303441;
	font-family: Arial, Helvetica, sans-serif;
	color: #666d89;
	border-bottom: 8px solid #373b4a;
	width:100%;
	padding:0 0 30px 0;
	}
.portfolio-main-text{
	padding:60px 0 20px 0px;
	font-size:16px;
	text-align:justify;
	}
.portfolio-main-text h1{
	font-size:28px;
	font-weight:bold;
	margin-bottom: 30px;
	}	
.tags li{
	text-decoration: none;
	display: inline-block;
	}

.tags a{
	margin-right: 10px;
	padding:3px;
	color: #666d89;
	border: 1px solid #666d89;
	border-radius: 4px;
	text-decoration: none;
	}

.tags a:hover{
	border: 1px solid #FFF;
	color: #FFFFFF;
	}

.portfolio-gallery{
	margin-top: 20px;
	text-align:justify;
	}
.portfolio-gallery li{
	margin-bottom: 20px;
	display:inline-block;
	width:218px;
	height:185px;
	}
.portfolio-gallery a{
	display: block;
	height: inherit;
}
.portfolio-gallery:after{
	content:'';
	display: inline-block;
	width: 100%;
	}

	
/* About US
--------------------------------------------------------------------------------------------------------*/
.block-aboutus{
	background: #f2f2f2;
	font-family: Arial, Helvetica, sans-serif;
	color: #666d89;
	border-bottom: 8px solid #FFF;
	width:100%;
	padding:0 0 30px 0;
	}
input, textarea {
	font-family: Arial, Helvetica, sans-serif;
}
.aboutus-main-text{
	padding:50px 0 20px 0px;
	font-size:16px;
	line-height:200%;
	}
.aboutus-main-text h1{
	font-size:28px;
	font-weight:bold;
	margin-bottom: 30px;
	}
.contact-list{
	margin: 20px 0 0 0;
	text-align: justify;
	}
.contact-list:after{
	content: '';
	display: inline-block;
	width: 100%;

	}
.contact-list li{
	text-decoration: none;
	width:300px;
	display: inline-block;
	margin-bottom: 10px;
	}
.contact-list h2{
	font-size:20px;
	font-weight:bold;
	margin:10px 0;
	}
.contact-list label{
	font-size:14px;
	line-height:150%;
}

.block-aboutus .contact-iconpage{
	margin-top: 30px;
	}
	
.contact-iconpage li{
	display: inline-block;
	margin-left: 3px;
	text-align: center;
	width:35px;
	height:35px;
	}
.contact-iconpage a{
	display: block;
	color: #666d89;
	text-decoration: none;
	border: 1px solid;
	border-radius: 50%;
	}

.contact-iconpage i{
	font-size:18px;
	line-height: 33px;
	}

/* contacts
--------------------------------------------------------------------------------------------------------*/
.block-contact{
	background: #eb5055;
	font-family: Arial, Helvetica, sans-serif;
	color: #f0d8d9;
	border-bottom: 8px solid #ea676b;
	width:100%;
	padding:0 0 30px 0;
	}
	
.contact-main-text{
	padding:50px 0 50px 0px;
	font-size:16px;
	line-height:200%;
	text-align: justify;
	
	}
.contact-main-text h1{
	font-size:28px;
	font-weight:bold;
	margin-bottom: 30px;
	text-align: justify;
	}
.contact-form{
	vertical-align:top;
	display:inline-block;
    max-width: 650px;
    width: 100%;
	margin-right:20px;	
}
.contact-info{
	display:inline-block;
	width:260px;
	text-align:justify;
}
.form-control.large{
	height: 180px;
	vertical-align:top;
	resize: none;
}

.contact-info ul{
	margin-top:20px;
	list-style-type: none;  
}
.contact-info li{
	margin-bottom:3px;
}

.contact-info h2{
	margin: 0 0 25px 0;
}


/* Cut from Bootstrap
--------------------------*/
.form-control {
  margin-bottom:15px;
  width: 100%;
  height: 35px;
  padding: 2px 20px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #FFF;
  background-color: #ca4549;
  background-image: none;
  border: 1px solid #ca4549;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
   box-sizing:border-box;
  -moz-box-sizing:border-box;
}
.form-control:focus {
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.form-control::-webkit-input-placeholder { /* WebKit browsers */
    color: #de696d;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color: #de696d;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
     color: #de696d;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
     color: #de696d;
}

/* footer
--------------------------------------------------------------------------------------------------------*/
footer{
	height: 75px;
	background: #303441;
	font-family: Arial, Helvetica, sans-serif;
	color: #5f657f;
	width:100%;
	}
footer p{
	padding-top:30px;
}
footer .contact-iconpage{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	height: 1em;
	margin: auto;
	
}
/* Other
--------------------------------------------------------------------------------------------------------*/
